@import "../../../styles/variables";

.edit_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .edit_form_container {
        margin: auto;
        border-radius: 15px;
        h2 {
            text-align: center;
        }
        .edit_form_content {
            padding: 3vh 2vw;
            .form_fields {
                display: flex;
                justify-content: space-between;
                .inner_form_field {
                    padding: 1vh 3vw;
                    display: flex;
                    flex-direction: column;
                    .prefix {
                        color: $primary_color_darker;
                        font-weight:bold;
                        white-space: pre-line;
                        padding-right:0.5vw;
                    }
                }
            }
            .submit_button {
                float: right;
            }
        }
    }
}
