@import "../../../../styles/variables";
$util-size: 25px;
$badge-font: 15px;

.item_container {
    padding: 1vh 1vw;
    // border:1px solid rgb(141, 137, 137);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    // background-color:$secondary_color_lighter;
    .user_profile {
        .user_name {
            font-size: 25px;
            .badge_wrapper{
                .badge{
                    padding: 5px;
                    margin-left:5px;
                    font-size: 45%;
                    &.pm{
                        background-color: rgba(86, 179, 230, 0.782);
                    }
                    &.admin{
                        background-color: rgba(182, 111, 196, 0.945);
                    }
                }
            }
        }
        .user_topic {
            font-size: 20px;
        }
        .user_specialization {
            margin: 5px 0;
        }
        .user_intake {
            font-size: $badge-font;
            .badge {
                padding: 5px;
                margin-right: 5px;
                &.school {
                    background-color: rgb(232, 126, 126);
                }
                &.campus {
                    background-color: rgb(137, 221, 137);
                }
                &.department {
                    background-color: rgb(115, 153, 225);
                }
                &.location {
                    background-color: rgb(225, 189, 97);
                }
            }
        }
    }
    .item_util {
        display: grid;
        grid-template-columns: auto auto;
        .circleNumber {
            border-radius: 50%;
            width: $util-size;
            height: $util-size;
            border: 1px transparent #666;
            text-align: center;
            justify-self:right;
            &.supervisor{
                background-color: $primary_color;
                color:$primary_text;
            }
            &.marker{
                background-color: $secondary_color;
                color:$secondary_text;
            }
        }
        mat-icon {
            margin-left: 1vw;
            font-size: $util-size;
        }
        mat-icon,.circleNumber{
            &:hover{
                color:green;
            }
        }
    }
}
