.login_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    .login_form_container {
        width: 50%;
        margin: auto;
        border-radius:15px;
        .login_form_content {
            h2{
                text-align:center;
            }
            form{
                display: flex;
                flex-direction: column;
                .submit_button{
                    display:flex;
                    flex-direction:row-reverse;
                }
            }
        }
    }
}