<mat-card class="item_container mat-elevation-z4">
    <div class="user_profile">
        <div class="user_name">
            Example Lecturer
            <span class="badge_wrapper">
                <span class="badge pm"> PM </span>
                <span class="badge admin"> Admin </span>
            </span>
        </div> 
        <div class="user_specialization">
            <mat-chip-list>
                <mat-chip>Software Engineering</mat-chip>
                <mat-chip>Cyber Security</mat-chip>
                <mat-chip>...</mat-chip>
            </mat-chip-list>
        </div>
        <div class="user_intake">
            <span class="school badge"> SOCT </span>
            <span class="campus badge"> APU </span>
            <span class="department badge"> Location </span>
            <span class="location badge"> Department </span>
        </div>
    </div>
    <div class="item_util">
        <div class="circleNumber supervisor">5</div>
        <div class="circleNumber marker">3</div>
        <!-- View Profile -->
        <mat-icon>account_circle</mat-icon>
        <!-- Unanswered Question -->
        <mat-icon>help_center</mat-icon>
        <!-- Availability -->
        <mat-icon>check</mat-icon>
        <!-- Message -->
        <mat-icon>message</mat-icon>
    </div>
</mat-card>
