<!-- Student -->
<mat-card class="item_container mat-elevation-z2">
    <div class="user_profile">
        <div class="user_name"> Example Student </div>
        <div class="user_topic "> Example Topic </div>
        <div class="user_intake">
            <span class="school badge"> SOCT </span>
            <span class="campus badge"> APIIT </span>
            <span class="intake">UC3F2011</span>
        </div>
    </div>
    <div class="item_util">
        <!-- Supervisor -->
        <mat-icon>person</mat-icon>
        <!-- Second Supervisor -->
        <mat-icon>people</mat-icon>
        <!-- View Profile -->
        <mat-icon>account_circle</mat-icon>
        <!-- Top 5 Supervisor -->
        <mat-icon>filter_5</mat-icon>
        <!-- MORE DETAILS -->
        <mat-icon>wysiwyg</mat-icon>
        <!-- Message -->
        <mat-icon>message</mat-icon>
    </div>
</mat-card>