<div class="register_wrapper">
    <mat-card class="mat-elevation-z5 register_form_container">
        <mat-card-content class="register_form_content">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <h2>Register</h2>
                <div class="form_fields">
                    <div class="inner_form_field">
                        <!-- TP Number -->
                        <mat-form-field>
                            <input matInput placeholder="TP Number / Student ID" formControlName="username" required>
                            <mat-error>
                                Please provide a valid email address
                            </mat-error>
                        </mat-form-field>
                        <!-- Level of Study -->
                        <mat-form-field>
                            <mat-label>Level of Study</mat-label>
                            <mat-select>
                                <mat-option>test</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- Intake / Class Code -->
                        <mat-form-field>
                            <mat-label>Intake/ Class code</mat-label>
                            <mat-select>
                                <mat-option>test</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- Full Name -->
                        <mat-form-field>
                            <input matInput placeholder="Full Name" formControlName="password" required>
                        </mat-form-field>
                        <!-- Select your School -->
                        <mat-form-field>
                            <mat-label>Select your School</mat-label>
                            <mat-select>
                                <mat-option>test</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- Student Email -->
                        <mat-form-field>
                            <input matInput placeholder="APU APSpace / LBEF Email Address" required>
                        </mat-form-field>
                        <!-- Campus -->
                        <mat-form-field>
                            <mat-label>Campus</mat-label>
                            <mat-select>
                                <mat-option>test</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="inner_form_field">
                        <!-- Category -->
                        <mat-form-field>
                            <mat-label>Category</mat-label>
                            <mat-select>
                                <mat-option>test</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- Student of  -->
                        <mat-form-field>
                            <mat-label>You are a student of </mat-label>
                            <mat-select>
                                <mat-option>test</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- Programme Course -->
                        <mat-form-field>
                            <mat-label>Programme / Course</mat-label>
                            <mat-select>
                                <mat-option>test</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- Personal Email -->
                        <mat-form-field>
                            <input matInput placeholder="Personal Email Address" required>
                        </mat-form-field>
                        <!-- Mobile Phone Number -->
                        <mat-form-field>
                            <input matInput placeholder="Mobile Phone Number"
                                required>
                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button class="submit_button"color="accent">Register</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>