.panel_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .options{
        .selects{
            margin-bottom:1vh;
            .option{
                padding: 1vh 0;
            }
        }
    }
    .selected_filters{

    }
    .buttons {
        display: flex;
        justify-content: space-around;
        button{
        }
    }
}
