<div class="about-container">
    <div class="content-container card_left_border">
        <span class="content-header mat-title">
            Aims:
        </span>
        <p>
            The research aims to uncover relevant information and 
            developing a user-centric productive FYP Management system 
            for the volatile switch between blended learning and pure e-learning 
            for different roles.
        </p>
        <span class="content-header mat-title">
            Objectives:
        </span>
        <p>
        </p>
    </div>
    <div class="content-container card_left_border ">
        <span class="content-header mat-title">
            FYPSpace System Allows
        </span>
        <p >
           Project Managers to Match Student with Supervisors and Second Marker
        </p>
        <p >
           Lecturers to track their workload
        </p>
        <p >
           Lecturers to approve Project Proposal Form and Project Specification Form
        </p>
        <p class="content-header mat-title">
           Upcoming Features
        </p>
        <p>
            Student to Submit and Edit their Project Proposal Form and Project Specifciation Form
        </p>
        <p>
            Student to Select Question from a question bank
        </p>
        <p>
            Student and Lecturer to Manage their Meeting Logs
        </p>

    </div>

</div>