<div class="about-container">
    <div class="content-container card_left_border">
        <span class="content-header mat-title">
            Aims:
        </span>
        <p>
            To facilitate project management responsibilities carried out by RMCT students, Internship students, final
            year
            project students (FYP), Deans, HR, Head of schools (HOS), Academic leaders(AL), FYP supervisors, FYP second
            markers,
            project administrators (FYP), project managers (FYP) and database administrator (DBA).
        </p>
    </div>
    <div class="content-container card_left_border ">
        <span class="content-header mat-title">
            FYP Bank System Allows
        </span>
        <p >
            RMCT Students , to search for and select the best FYP proposals, submit/resubmit their draft proposal and
            propose the name of a maximum of 3 supervisors for their FYP
        </p>
        <p>
            FYP Students, to search for and select the best FYP proposals, submit/resubmit their PPF (Project Proposal
            Form)
            and PSF (Project Specification Form) and view the approval status of their PPF and PSF
        </p>
        <p>
            FYP Supervisors, to upload new FYP proposals, monitor the usage of their proposals, approve the PPF and PSF
            of
            their supervisees and monitor the progress of their supervisees in their FYP
        </p>
        <p>
            FYP Second markers, to upload new FYP proposals, monitor the usage of their proposals, mark the PSF of their
            advisees and monitor the progress of advisees in their FYP
        </p>
        <p>
            FYPC, to review each proposal submitted by supervisors and update the approval status of proposal with
            comments
        </p>
        <p>

            FYP Administrators, to manage the details of FYP students
        </p>
        <p>
            FYP Project managers , to upload new FYP proposals, monitor the usage of their proposals, approve the PPF of
            supervisees, mark the PSF of their advisees, monitor the progress of supervisees in their FYP, assign and
            reassign suitable supervisor and second marker for each RMCT amd FYP students
        </p>
        <p>
            Database administrator, to maintain the FYPBaNK System to ensure that the FYPBANK is UP for 24/7

        </p>
    </div>

</div>