@import "./app/styles/variables";

$scroll_bar: rgb(248, 247, 247);
$scroll_bar_bg: rgb(146, 146, 146);

html,
body {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: $bg_color;
    margin: 0;
    //For Scroll bar
    overflow: overlay;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

//scrollbar
* {
    scrollbar-width: thin;
    scrollbar-color: $scroll_bar_bg $scroll_bar;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: $scroll_bar;
}

*::-webkit-scrollbar-thumb {
    background-color: $scroll_bar_bg;
    border-radius: 20px;
    border: 3px solid $scroll_bar;
}

mat-icon {
    font-size: 30px;
}

//Styling input color
mat-form-field,
.no_hint_error {
    .mat-form-field-wrapper {
        margin-bottom: -1.25em;
    }
}

button:focus,
button:active:focus,
button.active:focus {
    outline: none !important;
    outline-style: none !important;
}

.mat-button-focus-overlay {
    background-color: transparent !important;
}

.mat-tooltip {
    font-size: 1vw;
}

mat-card.float_design {
    border-radius: 5px;
    background-color: #e1e8ff;
    margin-bottom: 1vh;
}

//bootstrap
.tab {
    &.primary {
        background-color: $primary_color;
        color: $primary_text_darker;
        &:hover, &:active {
            background-color: $secondary_color;
            color: $secondary_text;
        }
    }
}

//Helper Styles
.card_left_border {
    border-left: 5px solid $primary_color;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.cursor {
    &.pointable {
        &:hover {
            cursor: pointer;
        }
    }
    &.default {
        &:hover {
            cursor: default;
        }
    }
}
//Helper Styles Hyperlink
.remove_focus:focus {
    outline: 0;
}
.column_flex {
    display: flex;
    flex-direction: column;
}

//Drop down
.dropdown {
    .dropdown-item {
        padding: 1rem 2rem;
        &:hover {
            background-color: $grey_color;
        }
    }
}

//FAQ
.faq_accordion .faq_accordion_group {
    .panel-default {
        background-color: $bg_color;
        .panel-heading.card-header {
            &,
            .faq_accordion_heading {
                background-color: $secondary_color;
                color: $secondary_text;
            }
        }
        .panel-collapse {
        }
    }
}

.newline {
    white-space: pre-line;
}
