@import "../../styles/variables";

$util-size: 25px;
$badge-font: 15px;

.page_header {
    background-color: $secondary_color;
    border-radius: 10px;
    padding: 1vh 2vw;
    text-align: center;
    .header {
        font-size: 3vw;
        .sub_header {
            font-size: 1vw;
        }
        &,
        .sub_header {
            display: block;
            color: $secondary_text;
        }
    }
}

.workspace {
    border: 1px solid grey 5px;
    border-radius: 15px;
    height: 100%;
    min-height: 60vh;
    padding: 1vh 0 0 0;
    .lists_container {
        display: flex;
        justify-content: space-between;

        .first-child {
            margin-right: 1vw;
        }
        .list_wrapper {
            width: 100%;
            background-color: white;
            // width:40vw;
            .list {
                border: 1px solid black;
                height: 100%;
                background: lightblue;
                .list_item {
                    border: 1px solid black;
                }
            }
        }
    }
    .action_bar {
        padding: 1vh 2vw;
        display: flex;
        flex-direction: row-reverse;
        .action_btn {
            margin-left: 10px;
        }
        .cancel_btn {
            background-color: $warn_color;
            color: $warn_text;
        }
        .match_btn {
            background-color: $secondary_color_darker;
            color: $secondary_text_darker;
            padding: 5px 20px;
        }
    }
}
.item_container {
    padding: 1vh 1vw;
    // border:1px solid rgb(141, 137, 137);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    // background-color:$secondary_color_lighter;
    .user_profile {
        .user_name {
            font-size: 25px;
            .badge_wrapper {
                .badge {
                    padding: 5px;
                    margin-left: 5px;
                    font-size: 45%;
                    &.pm {
                        background-color: rgba(86, 179, 230, 0.782);
                    }
                    &.admin {
                        background-color: rgba(182, 111, 196, 0.945);
                    }
                }
            }
        }
        .user_topic {
            font-size: 20px;
        }
        .user_specialization {
            margin: 5px 0;
        }
        .user_intake {
            font-size: $badge-font;
            .badge {
                padding: 5px;
                margin-right: 5px;
                &.school {
                    background-color: rgb(232, 126, 126);
                }
                &.campus {
                    background-color: rgb(137, 221, 137);
                }
                &.department {
                    background-color: rgb(115, 153, 225);
                }
                &.location {
                    background-color: rgb(225, 189, 97);
                }
                &.course{
                    background-color: rgb(239, 170, 104);
                }
                &.intake{
                    background-color: rgb(107, 197, 228);
                }
            }
        }
    }
    .item_util {
        display: grid;
        grid-template-columns: auto auto;
        .circleNumber {
            border-radius: 50%;
            width: $util-size;
            height: $util-size;
            border: 1px transparent #666;
            text-align: center;
            justify-self: right;
            &.supervisor {
                background-color: $primary_color;
                color: $primary_text;
            }
            &.marker {
                background-color: $secondary_color;
                color: $secondary_text;
            }
        }
        mat-icon {
            margin-left: 1vw;
            font-size: $util-size;
        }
        mat-icon,
        .circleNumber {
            &:hover {
                color: green;
            }
        }
    }
}
