<!-- <div class="page_header">
    <span class="header">
        Match
    </span>
    <span class="sub_header">
        Match student with their supervisor and 2nd supervisor
    </span>
</div> -->
<div class="workspace mat-elevation-z5">
    <div class="lists_container ">
        <div class="list_wrapper first-child">
            <app-item-list [header]="'Student'" (searchStringEmitter)="this.student_SearchString = $event" [filterConfigs]="student_Filter">
                <div *ngIf="this.studentItems$">
                    <div *ngFor="let student of (studentItems$| async) | studentSearch:student_SearchString|listFilter:student_Filter_applied"
                        (click)="selectStudent(student)">
                        <app-student-item
                            [isSelected]="student.user.user_id == this._matching.selectedStudent?.user?.user_id"
                            [item]="student"></app-student-item>
                    </div>
                </div>
            </app-item-list>
        </div>
        <div class="list_wrapper">
            <app-item-list [header]="'Lecturer'" (searchStringEmitter)="this.lecturer_SearchString = $event" [filterConfigs]="lecturer_Filter">
                <div *ngIf="this.lecturerItems$">
                    <div *ngFor="let lecturer of (lecturerItems$|async) | lecturerSearch: lecturer_SearchString"
                        (click)="selectLecturer(lecturer)">
                        <app-lecturer-item
                            [isSelected]="lecturer.user.user_id == this._matching.selectedLecturer?.user?.user_id"
                            [item]="lecturer"></app-lecturer-item>
                    </div>
                </div>
            </app-item-list>
        </div>
    </div>
    <div class="action_bar">
        <button mat-raised-button color="accent" [disabled]="!showSupervisorBtn" class="match_btn action_btn"
            (click)="assignmentSubmit(true)">
            Assign Supervisor
        </button>
        <button mat-raised-button color="accent" [disabled]="!showMarkerBtn" class="match_btn action_btn"
            (click)="assignmentSubmit(false)">
            Assign 2nd Marker
        </button>
        <button mat-raised-button color="accent" [disabled]="!showDeAssignMarker" class="match_btn action_btn"
            (click)="assignmentSubmit(false,true)">
            DeAssign 2nd Marker
        </button>
        <button mat-raised-button color="accent" [disabled]="!showDeAssignSupervisor" class="match_btn action_btn"
            (click)="assignmentSubmit(true,true)">
            DeAssign Supervisor
        </button>
        <button mat-raised-button color="warn" [disabled]="!showCancelBtn" class="cancel_btn action_btn"
            (click)="cancelSelection()">
            Cancel Selection
        </button>
    </div>
</div>