<!-- Heading Here -->
<accordion [isAnimated]="true" *ngFor="let faq_item of faq_items | filterPipe : roleCanAccess : true " class="faq_accordion mat-elevation-z6">
    <accordion-group class="faq_accordion_group">
        <button class="btn faq_accordion_heading btn-block clearfix"  accordion-heading type="button">
            <div class="pull-left float-left">{{faq_item.heading}}</div>
        </button>
        <div class="answer_wrapper">
            <span class="answer_label">Answer: </span>
            <div class="answer_body">
                {{faq_item.body}}
            </div>
        </div>
    </accordion-group>
</accordion>