@import "../../../styles/variables";

.navbar {
    background-color: $primary_color_darker;
    height:10vh;
    padding:0px 2vw;
    .navbar_content_wrapper{
        width:100%;
        display:flex;
        justify-content:space-between;
    }
    .navbar-logo{
        padding:0px 2vw;
    }
    .nav-item{
        font-size:20px;
        padding: 10px 15px;
        color:$primary_text;
        border-radius:5px;
        &:hover{
            background-color: $primary_color_lighter;
            color: $primary_text_lighter;
            border-radius:5px;
            cursor: pointer;
        }
        &.active{
            background-color: $secondary_color;
            color:$secondary_text_lighter;
        }
    }
}

