<nav class="navbar navbar-expand">
    <div class="navbar-collapse navbar_wrapper" id="navbarSupportedContent">
        <div class="navbar-logo">
            <span class="navbar-brand  h1">FYPSpace</span>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <div>
                    <li *ngFor="let nav_item of this._navbar.left_nav_items">
                        <div [routerLink]="nav_item.router_link" routerLinkActive="active"
                            *ngIf="!childItemExist(nav_item)" class="nav-item remove_focus">
                            <span *ngIf="nav_item.icon === undefined">{{nav_item.display_name}}</span>
                            <mat-icon aria-hidden="false" *ngIf="nav_item.icon != undefined">{{nav_item.icon}}
                            </mat-icon>
                        </div>
                        <div *ngIf="childItemExist(nav_item)" class="dropdown" dropdown>
                            <a class="nav-link nav-item dropdown-toggle" id="navbardrop" data-toggle="dropdown"
                                dropdownToggle>
                                <span>{{nav_item.display_name}}</span>
                            </a>
                            <div class="dropdown-menu" *dropdownMenu>
                                <a *ngFor="let nav_child of nav_item.childItem" class="dropdown-item"
                                    [routerLink]="nav_child.router_link">
                                    {{nav_child.display_name}}
                                </a>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav mx-auto">
                <li *ngFor="let nav_item of this._navbar.mid_nav_items">
                    <div [routerLink]="nav_item.router_link" routerLinkActive="active" *ngIf="!childItemExist(nav_item)"
                        class="nav-item remove_focus">
                        <span *ngIf="nav_item.icon === undefined">{{nav_item.display_name}}</span>
                        <mat-icon aria-hidden="false" *ngIf="nav_item.icon != undefined">{{nav_item.icon}}</mat-icon>
                    </div>
                    <div *ngIf="childItemExist(nav_item)" class="dropdown" dropdown>
                        <a class="nav-link nav-item dropdown-toggle" id="navbardrop" data-toggle="dropdown"
                            dropdownToggle>
                            <span>{{nav_item.display_name}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <a *ngFor="let nav_child of nav_item.childItem" class="dropdown-item"
                                [routerLink]="nav_child.router_link">
                                <span>{{nav_child.display_name}}</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <li *ngFor="let nav_item of this._navbar.right_nav_items">
                    <div [routerLink]="nav_item.router_link" routerLinkActive="active" *ngIf="!childItemExist(nav_item)"
                        class="nav-item remove_focus">
                        <span *ngIf="nav_item.icon === undefined">{{nav_item.display_name}}</span>
                        <mat-icon aria-hidden="false" *ngIf="nav_item.icon != undefined">{{nav_item.icon}}</mat-icon>
                    </div>
                    <div *ngIf="childItemExist(nav_item)" class="dropdown" dropdown>
                        <a class="nav-link nav-item dropdown-toggle" id="navbardrop" data-toggle="dropdown"
                            dropdownToggle>
                            <span>{{nav_item.display_name}}</span>

                        </a>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <a *ngFor="let nav_child of nav_item.childItem" class="dropdown-item"
                                [routerLink]="nav_child.router_link">
                                <span>{{nav_child.display_name}}</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>